<html lang="en" th:replace="~{shared/_layout::layout('Edit Page', '', ~{::div#naja}, '', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div id="naja">
    <p>Show <b th:text="${title}"></b>  here</p>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Modify the Driver</h5>

            <th:block th:replace="~{/doctors/create.html::#doctorFrom}" th:if="${doctor!=null}">

            </th:block>

            <div th:unless="${doctor!=null}">
                <div class="alert alert-danger" role="alert">
                    Driver not found
                </div>
            </div>


        </div>
    </div>
</div>

</html>